<div class="container-show">
  <img src="https://c.pxhere.com/photos/94/5f/london_night_lights_thames_river_panorama_landscape_buildings_urban-620212.jpg!d" id="photo-banner">
    <div class="container-info-show">
      <div class="info-flat-show">

        <div class="flat-name">
        <h1> <%= @flat.name %></h1>
        </div>

        <div class="flat-description">
        <h1> <%= @flat.description %></h1>
        </div>

        <div class="flat-details">
        <h1> <%= @flat.name %></h1>
        </div>

      </div>
      <div class="info-booking-show">
      </div>
    </div>
  </div>
</div>
