/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar {
  background-color: #faf7f7;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.navbar a {
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-actions {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.container-show {
  margin: 0 auto;
  width: 80%;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form-container {
  margin: 0 auto;
  width: 50%;
  margin-top: 20px;
}

.container-info-show {
display: flex;
justify-content: space-between;
}

.info-flat-show {
  position: relative;
  top: -100px;
  left: 60px;
  width: 600px;
  padding: 10px;
  width: 750px;
}

.info-booking-show {
  position: relative;
  top: -75px;
  right: 100px;
  background-color: #F8F9FA;
  border-radius: 5px;
  padding: 15px;
  max-height: 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.flat-name, .flat-description, .flat-card-details {
  background-color:#F8F9FA ;
  border-radius: 5px;
  margin: 15px;
  padding: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}


.row .card-container {
  display: flex;
  justify-content: space-between;
}

.row .flat-card-details-index {
  margin-bottom: 10px;
}

.row .flat-card-actions {
  background-color: inherit;
  position: relative;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
}

#title-page {
  font-size: 30px;
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#photo-banner {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  flex: 1;
  min-width: 200px; /* Adjust as needed */
}

#search-form {
  position: relative;
  left: 65px;
  grid-column-start: 3;
}

#add-button {
  color: rgb(21, 21, 23);
  font-size: 15px;
  font-weight: 500;
  color: blue;
  grid-column-start: 4;
  margin-right: 20%;
  margin-left: 25%;
  padding: 10px 15px;
}

#add-button:hover {
  color: white;
}

#more-info-link a,
#edit-link a,
#delete-link a {
  text-decoration: none;
}

#edit-link a {
  color: rgb(231, 231, 48);
}

#delete-link a {
  color: red;
}

/* // Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
